.button {
  background-color: salmon;
  font-family: sans-serif;
  color: linen;
  height: 150px;
  width: 150px;
  margin: 5px;
  float: left;
  cursor: pointer;
}

.operator-symbol {
  padding: 70px 70px;
  margin: 0 auto;
  font-size: 40px;
}

.operator-text {
  font-size: 32px;
}
